* {
    padding: 0px;
    margin: 0px;

}

body {
    background-color: rgb(255, 255, 255);
}

/*  header section styling */
header {

    text-align: center;
    background: rgb(119, 53, 233);
    width: 100%;
    height: 8rem;
    padding-top: 2rem;
    color: white;

}

header h1 {
    margin-top: .4rem;
    margin-bottom: 10px;
}

header p {
    font-size: 20px;
    margin-bottom: 10px;
}

/* player section   styling */



.playerSection ol {
    display: flex;
    justify-content: center;

}

.playerSection ol li {
    list-style: none;
    margin:5rem;
    margin-bottom: 2em;
    text-align: center;
}

#players li {
    background-color: rgba(216, 197, 242, 0.514);
    padding: 3em 6em;
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgb(165, 128, 128), -1px -1px 2px rgb(165, 128, 128);

}

#players li h2 {
    color: rgb(24, 22, 22);
    font-size: 1.4em;
    padding-bottom: 10px;
}

#players li h3 {
    color: rgb(149, 0, 255);
    text-transform: uppercase;
}

#players li p {
    font-size: 20px;
    font-family: verdana;
    font-weight: bolder;
    padding-top: 10px;
    color: rgb(11, 11, 10);
}

#players button {
    border: none;
    text-transform:capitalize;
    background: none;
    margin-top: 20px;
    color: rgb(254, 254, 254);
    cursor: pointer;
    font-weight:bolder;
    background:rgb(120, 27, 146);
    padding:3px 20px;
    border-radius:5px;
}
#players button:hover{
   
    color:rgb(37, 14, 43);
    background:rgb(206, 9, 232);
}


.btn {

    width: 100%;
    display: flex;
    justify-content: center;
}

.btn button {
    color: white;
    margin:2em;
    font-size: 1.2em;
    font-weight: bolder;
    background: rgb(123, 15, 206);
    padding: 0.6em 0.8em;
    border: none;
    border-radius: 7px;
}
.btn button:hover{
    color:rgb(1, 0, 8);
    background:rgb(229, 120, 248);
}

/*  GAMING SECTION */

#gameSection {

    width: 100%;
    text-align: center;
    display: none;


}

#gameSection p {
    color: rgba(32, 16, 16, 0.918);
    font-weight: bolder;
    margin-top: 1.7rem;
}

#gameSection ol {
    list-style: none;
    justify-content: center;
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(3, 5.5rem);
    grid-template-rows: repeat(3, 5.5rem);
    grid-gap: 0.5em;

}

#gameSection ol li {
    background: rgb(213, 166, 227);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-family: verdana;
    justify-content: space-around;
    color: white;
    font-weight: bolder;
    font-size: 2em;
    font-weight: bolder;
    cursor: pointer;
}

#gameSection ol li:hover {
    background: rgb(208, 52, 255);

}

#gameSection ol .clicked {
    background: rgb(208, 52, 255);
    cursor: none;
}

#play {
    color: rgb(180, 39, 173);
    font-weight: bolder;
    font-family: verdana;
    text-transform: uppercase;

}

#play:after {
    content: "!";
}

/* main section styling */

main {
    position: static;
    width: 100%;
    min-height: 100vh;
}


